{% extends 'base.html.twig' %}
{% block title 'Portfolio > Admin' %}

{% block body %}
<div class="padding-admin">
    <h1 class="text-blue">Administration</h1>
</div>
<div class="padding">
    <div class="row">
        <div class="col-6">
            <div class="card shadow">
                <div class="card-header font-weight-bold bg-white text-blue border-bottom-blue text-center px-3 py-2">
                    Home
                </div>
                <table class="table table-fixed table-borderless table-responsive-xl text-center bg-white m-0">
                    <thead>
                    <tr>
                        <th scope="col" class="col-1"></th>
                        <th scope="col" class="col-3">Image</th>
                        <th scope="col" class="col-3">Titre</th>
                        <th scope="col" class="col-5">contenu</th>
                    </tr>
                    </thead>
                    <tbody class="scrollbar scrollbar-black bordered-black square thin">
                    <tr>
                        <th scope="row" class="col-1">1</th>
                        <td class="col-3">Mark</td>
                        <td class="col-3">Otto</td>
                        <td class="col-5">@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-1">2</th>
                        <td class="col-3">Jacob</td>
                        <td class="col-3">Thornton</td>
                        <td class="col-5">@fat</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-1">1</th>
                        <td class="col-3">Mark</td>
                        <td class="col-3">Otto</td>
                        <td class="col-5">@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-1">2</th>
                        <td class="col-3">Jacob</td>
                        <td class="col-3">Thornton</td>
                        <td class="col-5">@fat</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-1">2</th>
                        <td class="col-3">Jacob</td>
                        <td class="col-3">Thornton</td>
                        <td class="col-5">@fat</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-6">
            <div class="card shadow ">
                <div class="card-header font-weight-bold bg-white text-blue border-bottom-blue text-center px-3 py-2">
                    Contact
                </div>
                <table class="table table-fixed table-borderless table-responsive-xl text-center bg-white m-0">
                    <thead>
                    <tr>
                        <th scope="col" class="col-1"></th>
                        <th scope="col" class="col-3">Image</th>
                        <th scope="col" class="col-3">Titre</th>
                        <th scope="col" class="col-5">contenu</th>
                    </tr>
                    </thead>
                    <tbody class="scrollbar scrollbar-black bordered-black square thin">
                    <tr>
                        <th scope="row" class="col-1">1</th>
                        <td class="col-3">Mark</td>
                        <td class="col-3">Otto</td>
                        <td class="col-5">@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-1">2</th>
                        <td class="col-3">Jacob</td>
                        <td class="col-3">Thornton</td>
                        <td class="col-5">@fat</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-1">1</th>
                        <td class="col-3">Mark</td>
                        <td class="col-3">Otto</td>
                        <td class="col-5">@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-1">2</th>
                        <td class="col-3">Jacob</td>
                        <td class="col-3">Thornton</td>
                        <td class="col-5">@fat</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-1">2</th>
                        <td class="col-3">Jacob</td>
                        <td class="col-3">Thornton</td>
                        <td class="col-5">@fat</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow ">
                <div class="card-header font-weight-bold bg-white text-blue border-bottom-blue text-center px-3 py-2">
                    Présentation
                </div>
                <table class="table table-fixed table-borderless table-responsive-xl text-center bg-white m-0">
                    <thead>
                    <tr>
                        <th scope="col" class="col-1"></th>
                        <th scope="col" class="col-3">Image</th>
                        <th scope="col" class="col-3">Titre</th>
                        <th scope="col" class="col-5">contenu</th>
                    </tr>
                    </thead>
                    <tbody class="scrollbar scrollbar-black bordered-black square thin">
                    <tr>
                        <th scope="row" class="col-1">1</th>
                        <td class="col-3">Mark</td>
                        <td class="col-3">Otto</td>
                        <td class="col-5">@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-1">2</th>
                        <td class="col-3">Jacob</td>
                        <td class="col-3">Thornton</td>
                        <td class="col-5">@fat</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-1">1</th>
                        <td class="col-3">Mark</td>
                        <td class="col-3">Otto</td>
                        <td class="col-5">@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-1">2</th>
                        <td class="col-3">Jacob</td>
                        <td class="col-3">Thornton</td>
                        <td class="col-5">@fat</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-1">2</th>
                        <td class="col-3">Jacob</td>
                        <td class="col-3">Thornton</td>
                        <td class="col-5">@fat</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow ">
                <div class="card-header font-weight-bold bg-white text-blue border-bottom-blue text-center px-3 py-2">
                    Formation
                </div>
                <table class="table table-fixed table-borderless table-responsive-xl text-center bg-white m-0">
                    <thead>
                    <tr>
                        <th scope="col" class="col-1"></th>
                        <th scope="col" class="col-3">Image</th>
                        <th scope="col" class="col-3">Titre</th>
                        <th scope="col" class="col-5">contenu</th>
                    </tr>
                    </thead>
                    <tbody class="scrollbar scrollbar-black bordered-black square thin">
                    <tr>
                        <th scope="row" class="col-1">1</th>
                        <td class="col-3">Mark</td>
                        <td class="col-3">Otto</td>
                        <td class="col-5">@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-1">2</th>
                        <td class="col-3">Jacob</td>
                        <td class="col-3">Thornton</td>
                        <td class="col-5">@fat</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-1">1</th>
                        <td class="col-3">Mark</td>
                        <td class="col-3">Otto</td>
                        <td class="col-5">@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-1">2</th>
                        <td class="col-3">Jacob</td>
                        <td class="col-3">Thornton</td>
                        <td class="col-5">@fat</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-1">2</th>
                        <td class="col-3">Jacob</td>
                        <td class="col-3">Thornton</td>
                        <td class="col-5">@fat</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow ">
                <div class="card-header font-weight-bold bg-white text-blue border-bottom-blue text-center px-3 py-2">
                    Projets
                </div>
                <table class="table table-fixed table-borderless table-responsive-xl text-center bg-white m-0">
                    <thead>
                    <tr>
                        <th scope="col" class="col-1"></th>
                        <th scope="col" class="col-3">Image</th>
                        <th scope="col" class="col-3">Titre</th>
                        <th scope="col" class="col-5">contenu</th>
                    </tr>
                    </thead>
                    <tbody class="scrollbar scrollbar-black bordered-black square thin">
                    <tr>
                        <th scope="row" class="col-1">1</th>
                        <td class="col-3">Mark</td>
                        <td class="col-3">Otto</td>
                        <td class="col-5">@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-1">2</th>
                        <td class="col-3">Jacob</td>
                        <td class="col-3">Thornton</td>
                        <td class="col-5">@fat</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-1">1</th>
                        <td class="col-3">Mark</td>
                        <td class="col-3">Otto</td>
                        <td class="col-5">@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-1">2</th>
                        <td class="col-3">Jacob</td>
                        <td class="col-3">Thornton</td>
                        <td class="col-5">@fat</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-1">2</th>
                        <td class="col-3">Jacob</td>
                        <td class="col-3">Thornton</td>
                        <td class="col-5">@fat</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-6">
            <div class="card shadow">
                <div class="card-header font-weight-bold bg-white text-blue border-bottom-blue text-center px-3 py-2">
                    Expériences
                </div>
                <table class="table table-fixed table-borderless table-responsive-xl text-center bg-white m-0">
                    <thead>
                    <tr>
                        <th scope="col" class="col-1"></th>
                        <th scope="col" class="col-3">Image</th>
                        <th scope="col" class="col-3">Titre</th>
                        <th scope="col" class="col-5">contenu</th>
                    </tr>
                    </thead>
                    <tbody class="scrollbar scrollbar-black bordered-black square thin">
                    <tr>
                        <th scope="row" class="col-1">1</th>
                        <td class="col-3">Mark</td>
                        <td class="col-3">Otto</td>
                        <td class="col-5">@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-1">2</th>
                        <td class="col-3">Jacob</td>
                        <td class="col-3">Thornton</td>
                        <td class="col-5">@fat</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-1">1</th>
                        <td class="col-3">Mark</td>
                        <td class="col-3">Otto</td>
                        <td class="col-5">@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-1">2</th>
                        <td class="col-3">Jacob</td>
                        <td class="col-3">Thornton</td>
                        <td class="col-5">@fat</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-1">2</th>
                        <td class="col-3">Jacob</td>
                        <td class="col-3">Thornton</td>
                        <td class="col-5">@fat</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-6">
            <div class="card shadow ">
                <div class="card-header font-weight-bold bg-white text-blue border-bottom-blue text-center px-3 py-2">
                    Compétences
                </div>
                <table class="table table-fixed table-borderless table-responsive-xl text-center bg-white m-0">
                    <thead>
                    <tr>
                        <th scope="col" class="col-1"></th>
                        <th scope="col" class="col-3">Image</th>
                        <th scope="col" class="col-3">Titre</th>
                        <th scope="col" class="col-5">contenu</th>
                    </tr>
                    </thead>
                    <tbody class="scrollbar scrollbar-black bordered-black square thin">
                    <tr>
                        <th scope="row" class="col-1">1</th>
                        <td class="col-3">Mark</td>
                        <td class="col-3">Otto</td>
                        <td class="col-5">@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-1">2</th>
                        <td class="col-3">Jacob</td>
                        <td class="col-3">Thornton</td>
                        <td class="col-5">@fat</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-1">1</th>
                        <td class="col-3">Mark</td>
                        <td class="col-3">Otto</td>
                        <td class="col-5">@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-1">2</th>
                        <td class="col-3">Jacob</td>
                        <td class="col-3">Thornton</td>
                        <td class="col-5">@fat</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-1">2</th>
                        <td class="col-3">Jacob</td>
                        <td class="col-3">Thornton</td>
                        <td class="col-5">@fat</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    {% endblock %}
