{% extends 'base.html.twig' %}
{% block title 'Portfolio > Contact' %}

{% block body %}
    <div class="offset-0 col-12 offset-lg-4 col-lg-4 padding-projet">
        <h2 class="text-center">Me contacter</h2>
    </div>
{% endblock %}
