* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', sans-serif;
    color: #000000;
    background: #F4F4F4;
    margin: 0;
    padding: 0;
}

.container {
    min-height: 72.6vh;
}

.btn-blue,
.bg-blue {
    background-color: #478BCA;
}

.text-blue {
    color: #478BCA;
}

.border-bottom-blue {
    border-bottom: 2px solid #478BCA;
}

.card {
    border: none;
    margin: 0 25px 50px
}

.shadow {
    box-shadow: 0 12px 18px -6px rgba(0, 0, 0, 0.1);
}

.table-fixed tbody tr:nth-of-type(even) {
    background-color: #FFFFFF;
}

.table-fixed tbody tr:nth-of-type(odd) {
    background-color: #F4F4F4;
}

.table-fixed tbody {
    height: 144px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
    float: left;
    position: relative;
}

.padding {
    padding: 5vh 5% 0;
}

.padding-login {
    padding: 30vh 0 0;
}

.padding-home {
    padding: 20vh 0 0;
}

.scrollbar-black::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
}

.scrollbar-black::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5;
}

.scrollbar-black::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #478BCA;
}

.scrollbar-black {
    scrollbar-color: #478BCA #F5F5F5;
}

.padding-register {
    padding: 20vh 0 0;
}

.padding-admin {
    padding: 10vh 0 0;
}

button:hover {
    background-color: #A9A9A9;
}

h1,
h2 {
    text-align: center;
    color: #454545;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;
    color: #454545;
}

li:hover {
    background-color: #A9A9A9;
}

#home {
    background: url(../image/backgroundpc.jpeg) no-repeat;
    background-position: top 20% left 20%;
    background-size: cover;
    margin: 0;
    width: 100%;
    height: 100vh;
    padding: 5rem 0 0;
    display: flex;
    flex-direction: column;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #home {
        height: 100vh;
    }
}
